@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="alert alert-primary" role="alert">
        This page allows anonymous access based on the <strong>[AllowAnonymous]</strong> attribute on the page model.
    </div>
</div>
