<ul class="navbar-nav">
    @if (User.Identity?.IsAuthenticated ?? false)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Signout">Signout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-page="/Home">Login</a>
        </li>
    }
</ul>
